In [4]:
# Population data from GapMinder
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
population = pd.read_csv("pop (1).csv")
print(population)

          country   1800   1801   1802  ...   2097   2098   2099   2100
0     Afghanistan  3.28M  3.28M  3.28M  ...   128M   129M   130M   130M
1          Angola  1.57M  1.57M  1.57M  ...   147M   148M   149M   150M
2         Albania   400k   402k   404k  ...  1.23M  1.22M   1.2M  1.18M
3         Andorra   2650   2650   2650  ...    49k  48.4k  47.8k  47.2k
4             UAE  40.2k  40.2k  40.2k  ...  25.4M  25.7M  25.9M  26.1M
..            ...    ...    ...    ...  ...    ...    ...    ...    ...
192         Samoa  47.3k  47.3k  47.3k  ...   380k   381k   382k   384k
193         Yemen  2.59M  2.59M  2.59M  ...   109M   109M   110M   110M
194  South Africa  1.45M  1.45M  1.46M  ...  93.7M  93.9M  94.1M  94.3M
195        Zambia   747k   758k   770k  ...  63.4M  63.8M  64.1M  64.5M
196      Zimbabwe  1.09M  1.09M  1.09M  ...  36.9M    37M  37.1M  37.2M

[197 rows x 302 columns]
          country   1800   1801   1802  ...   2097   2098   2099   2100
0     Afghanistan  3.28M  3.28M  3.28M  ...   128M   129M   130M   130M
1          Angola  1.57M  1.57M  1.57M  ...   147M   148M   149M   150M
2         Albania   400k   402k   404k  ...  1.23M  1.22M   1.2M  1.18M
3         Andorra   2650   2650   2650  ...    49k  48.4k  47.8k  47.2k
4             UAE  40.2k  40.2k  40.2k  ...  25.4M  25.7M  25.9M  26.1M
..            ...    ...    ...    ...  ...    ...    ...    ...    ...
192         Samoa  47.3k  47.3k  47.3k  ...   380k   381k   382k   384k
193         Yemen  2.59M  2.59M  2.59M  ...   109M   109M   110M   110M
194  South Africa  1.45M  1.45M  1.46M  ...  93.7M  93.9M  94.1M  94.3M
195        Zambia   747k   758k   770k  ...  63.4M  63.8M  64.1M  64.5M
196      Zimbabwe  1.09M  1.09M  1.09M  ...  36.9M    37M  37.1M  37.2M

[197 rows x 302 columns]

In [5]:
long_population = population.melt(id_vars=["country"], var_name="year", value_name="population")
print(long_population)

            country  year population
0       Afghanistan  1800      3.28M
1            Angola  1800      1.57M
2           Albania  1800       400k
3           Andorra  1800       2650
4               UAE  1800      40.2k
...             ...   ...        ...
59292         Samoa  2100       384k
59293         Yemen  2100       110M
59294  South Africa  2100      94.3M
59295        Zambia  2100      64.5M
59296      Zimbabwe  2100      37.2M

[59297 rows x 3 columns]
            country  year population
0       Afghanistan  1800      3.28M
1            Angola  1800      1.57M
2           Albania  1800       400k
3           Andorra  1800       2650
4               UAE  1800      40.2k
...             ...   ...        ...
59292         Samoa  2100       384k
59293         Yemen  2100       110M
59294  South Africa  2100      94.3M
59295        Zambia  2100      64.5M
59296      Zimbabwe  2100      37.2M

[59297 rows x 3 columns]

# Data Wrangling Suggestions

Make it one consistent unit, so that it's not K and M. Make the K and M in numerical form.

In [ ]:
population["pop_diff"] = population["2010"] - population["1950"]

Operation is not able to be done with the long version of dataset. 
Solution: taking the long version of the dataset and subsetting, filtering the rows and vectorizing the subtraction operation.

In [7]:
wide_population = long_population.pivot(index = "country", columns = "year", values = "population")
wide_population = wide_population.reset_index()
print(wide_population)

year      country   1800   1801   1802  ...   2097   2098   2099   2100
0     Afghanistan  3.28M  3.28M  3.28M  ...   128M   129M   130M   130M
1         Albania   400k   402k   404k  ...  1.23M  1.22M   1.2M  1.18M
2         Algeria   2.5M  2.51M  2.52M  ...  64.8M  64.7M  64.6M  64.5M
3         Andorra   2650   2650   2650  ...    49k  48.4k  47.8k  47.2k
4          Angola  1.57M  1.57M  1.57M  ...   147M   148M   149M   150M
..            ...    ...    ...    ...  ...    ...    ...    ...    ...
192     Venezuela     1M   978k   957k  ...  28.7M  28.6M  28.4M  28.3M
193       Vietnam     4M   4.1M   4.2M  ...  93.2M  92.7M  92.2M  91.7M
194         Yemen  2.59M  2.59M  2.59M  ...   109M   109M   110M   110M
195        Zambia   747k   758k   770k  ...  63.4M  63.8M  64.1M  64.5M
196      Zimbabwe  1.09M  1.09M  1.09M  ...  36.9M    37M  37.1M  37.2M

[197 rows x 302 columns]
year      country   1800   1801   1802  ...   2097   2098   2099   2100
0     Afghanistan  3.28M  3.28M  3.28M  ...   128M   129M   130M   130M
1         Albania   400k   402k   404k  ...  1.23M  1.22M   1.2M  1.18M
2         Algeria   2.5M  2.51M  2.52M  ...  64.8M  64.7M  64.6M  64.5M
3         Andorra   2650   2650   2650  ...    49k  48.4k  47.8k  47.2k
4          Angola  1.57M  1.57M  1.57M  ...   147M   148M   149M   150M
..            ...    ...    ...    ...  ...    ...    ...    ...    ...
192     Venezuela     1M   978k   957k  ...  28.7M  28.6M  28.4M  28.3M
193       Vietnam     4M   4.1M   4.2M  ...  93.2M  92.7M  92.2M  91.7M
194         Yemen  2.59M  2.59M  2.59M  ...   109M   109M   110M   110M
195        Zambia   747k   758k   770k  ...  63.4M  63.8M  64.1M  64.5M
196      Zimbabwe  1.09M  1.09M  1.09M  ...  36.9M    37M  37.1M  37.2M

[197 rows x 302 columns]